.form-group-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-right: 10px;
}

.resource_selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min-content;
  margin-left: 10px;
}

.form-field {
  height: 70px;
}

.small-font {
  font-size: 12px;
}

.error-div-container {
  margin-bottom: 10px;
}

.error-div {
  color: red;
}

.btn {
  height: 50px;
}
