<mat-sidenav-container fxFlexFill class="background-fix">
  <mat-sidenav
    color="primary"
    fxLayout="column"
    mode="over"
    [(opened)]="isOpen"
    fxHide.gt-sm="true"
  >
    <div fxLayout="column" *ngFor="let route of appRoutes">
      <a
        mat-button
        *ngIf="route.navigationLabel && checkRouting(route.component)"
        routerLink="{{ route.path }}"
        >{{ route.navigationLabel }}</a
      >
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
