<div>
  <div class="row">
    <div class="LHS-details column">
      <div class="project-details">
        <span>
          <strong>Project Name: </strong> {{ currentProject?.name }}
        </span>
      </div>

      <div class="project-details">
        <span
          ><strong>Start Date: </strong>
          {{ currentProject?.start_date! | date : "short" }}</span
        >
      </div>

      <div class="project-details">
        <span>
          <strong>End Date: </strong>
          {{ currentProject?.end_date! | date : "short" }}
        </span>
      </div>

      <div class="project-details">
        <span> <strong>Version: </strong> {{ currentProject?.version }} </span>
      </div>

      <div class="project-details">
        <span> <strong>Status: </strong> {{ currentProject?.status }} </span>
      </div>
    </div>

    <div class="column" id="vendor-div">
      <div class="project-details">
        <span> <strong>Client: </strong> {{ vendorName }} </span>
      </div>
      <div
        class="project-details"
        *ngFor="
          let vendor_attribute of this.currentProject?.vendor_specific
            | keyvalue
        "
      >
        <span>
          <strong>{{ vendor_attribute.key }}: </strong>
          {{ vendor_attribute.value }}
        </span>
      </div>
    </div>
  </div>

  <div class="project-details table-div">
    <span>
      <strong>Milestones: </strong>
      <mat-error *ngIf="currentProject?.milestones?.length === 0">
        No milestones created.
      </mat-error>
    </span>

    <ng-container *ngIf="currentProject?.milestones?.length !== 0">
      <br />
      <app-milestone-table
        [milestones]="currentProjectMilestones"
      ></app-milestone-table>
      <br />
    </ng-container>
  </div>

  <div class="project-details table-div">
    <span>
      <strong>Resources: </strong>
      <mat-error *ngIf="currentProject?.project_resources?.length === 0">
        No resources assigned.
      </mat-error>
    </span>
    <ng-container *ngIf="currentProject?.project_resources?.length !== 0">
      <br />

      <app-resource-table
        [resourcesWithNames]="currentResourcesWithNames"
        [withDelete]="false"
      >
      </app-resource-table>
    </ng-container>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
