<div>
  <div class="row">
    <div class="LHS-details column">
      <div class="project-details">
        <span>
          <strong>Project Name: </strong> {{ currentProject?.name }}
        </span>
      </div>

      <div class="project-details">
        <span
          ><strong>Start Date: </strong>
          {{
            currentProject?.start_date?.toLocaleString("en-GB", {
              timeZone: "UTC"
            })
          }}</span
        >
      </div>

      <div class="project-details">
        <span>
          <strong>End Date: </strong>
          {{
            currentProject?.end_date?.toLocaleString("en-GB", {
              timeZone: "UTC"
            })
          }}
        </span>
      </div>

      <div class="project-details">
        <span> <strong>Version: </strong> {{ currentProject?.version }} </span>
      </div>
    </div>

    <div class="project-details column" id="vendor-div">
      <div id="tab">
        {{ cleanVendorDetails() }}
      </div>
      <div id="vendor-details"></div>
    </div>
  </div>

  <div class="project-details">
    <strong>Milestones: </strong>
    <br />
    <app-milestone-table
      [milestones]="currentProject?.milestones!"
    ></app-milestone-table>
  </div>

  <br />

  <div class="project-details">
    <strong>Resources: </strong>
    <br />
    <app-resource-table
      [resourcesWithNames]="resourcesWithNames"
      [withDelete]="false"
    >
    </app-resource-table>
  </div>
</div>
