<form [formGroup]="frequencyPicker">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Schedule for</mat-label>
      <input
        matInput
        [matDatepicker]="startDate"
        formControlName="startDateControl"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Schedule at</mat-label>
      <input matInput type="time" step="300" formControlName="timeControl" />
    </mat-form-field>
  </div>
  <div>
    Is this a recurring event?
    <mat-slide-toggle formControlName="reccuringControl"></mat-slide-toggle>
  </div>
  <div *ngIf="frequencyPicker.get('reccuringControl')!.value">
    <div class="flexContainer mid">
      <mat-form-field>
        <mat-label>Repeat</mat-label>
        <mat-select
          #frequency
          formControlName="frequencyControl"
          (selectionChange)="frequencyChange()"
          disableRipple
        >
          <mat-option
            *ngFor="
              let frequency of [
                frequencyEnum.daily,
                frequencyEnum.weekly,
                frequencyEnum.monthly
              ]
            "
            [value]="frequency"
          >
            {{ frequency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="frequency.value === frequencyEnum.weekly">
      hello world
      <!-- <mat-form-field >
        <mat-label>Repeat on</mat-label>
        <mat-chip-listbox>
        </mat-chip-listbox>
      </mat-form-field> -->
    </div>
    <div *ngIf="frequency.value === frequencyEnum.monthly">
      <mat-form-field>
        <mat-select
          #dayOfMonth
          formControlName="dayOfMonthControl"
          disableRipple
        >
          <mat-option
            *ngFor="
              let day of [
                DayOfMonthEnum.first,
                DayOfMonthEnum.last,
                DayOfMonthEnum.specificLast,
                DayOfMonthEnum.custom
              ]
            "
            [value]="day"
          >
            {{
              day === DayOfMonthEnum.specificLast
                ? "Last " + daysOfWeek.get(today.getDay())
                : day + " day"
            }}
            of month
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="dayOfMonth.value === DayOfMonthEnum.custom">
        <input
          matInput
          type="number"
          id="quantity"
          name="quantity"
          min="1"
          max="28"
          formControlName="customDayofMonthControl"
        />
        <mat-error> Value of day should be between 1 and 28</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Expire at</mat-label>
        <input
          matInput
          [matDatepicker]="expirationtDate"
          formControlName="expirationDateControl"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="expirationtDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #expirationtDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</form>
