<form [formGroup]="frequencyPicker">
  <div>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Choose starting date</mat-label>
      <input
        matInput
        [matDatepicker]="startDate"
        formControlName="startDateControl"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field> -->
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Schedule at</mat-label>
      <input matInput type="time" step="300" formControlName="timeControl" />
    </mat-form-field>
  </div>
  <div class="flexContainer mid">
    <mat-form-field>
      <mat-label>Repeat</mat-label>
      <mat-select
        #frequency
        formControlName="frequencyControl"
        (selectionChange)="frequencyChange()"
        disableRipple
      >
        <mat-option
          *ngFor="
            let frequency of [
              frequencyEnum.daily,
              frequencyEnum.weekly,
              frequencyEnum.monthly
            ]
          "
          [value]="frequency"
        >
          {{ frequency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ngIf="frequency.value === frequencyEnum.weekly">
      <mat-label>Repeat on</mat-label>
      <mat-chip-list selectable multiple formControlName="dayOfWeekControl">
        <div class="flexContainer mid">
          <mat-chip
            #chip="matChip"
            *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]"
            [value]="day"
            [selected]="selectedDays.has(day)"
            (click)="toggleSelection(chip)"
          >
            {{ daysOfWeek.get(day)!.slice(0, 1).toUpperCase() }}
          </mat-chip>
        </div>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div *ngIf="frequency.value === frequencyEnum.monthly">
    <mat-form-field>
      <mat-select #dayOfMonth formControlName="dayOfMonthControl" disableRipple>
        <mat-option
          *ngFor="
            let day of [
              DayOfMonthEnum.first,
              DayOfMonthEnum.last,
              DayOfMonthEnum.specificLast,
              DayOfMonthEnum.custom
            ]
          "
          [value]="day"
        >
          {{
            day === DayOfMonthEnum.specificLast
              ? "Last " + daysOfWeek.get(today.getDay())
              : day + " day"
          }}
          of month
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="dayOfMonth.value === DayOfMonthEnum.custom">
      <input
        matInput
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        max="28"
        formControlName="customDayofMonthControl"
      />
      <mat-error> Value of day should be between 1 and 28</mat-error>
    </mat-form-field>
  </div>
  =========================== <br /><br />
  cron : {{ cron }}<br /><br />
  ===========================<br /><br />
</form>
