.floating-btn-div {
  position: fixed;
  top: 25%;
  right: 5%;
}

@media screen and (max-width: 800px) {
  .floating-btn-div {
    top: 50%;
    right: 5%;
  }
  button {
    width: 2%;
    height: 2%;
    font-size: smaller;
  }
}

.navigation-btn {
  margin: 5px;
}

.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: green;
}

#title {
  display: flex;
  justify-content: center;
  margin: auto;
}

.navigation-btn.success-btn {
  background-color: green;
  color: white;
}
