.floating-btn-div {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@media screen and (max-width: 800px) {
  button {
    width: 1%;
    height: 0.5%;
    font-size: small;
  }
}

.navigation-btn {
  margin: 5px;
}

.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: green;
}

#title {
  display: flex;
  justify-content: center;
  margin: auto;
}

.navigation-btn.success-btn {
  background-color: green;
  color: white;
}
