#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLabel {
  padding-bottom: 1rem;
}

.recipientsRadio {
}

.recipientsRadioButton {
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.btn-submit {
  width: 20%;
}

.mat-selector {
  width: 40%;
}
