#form {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.formLabel {
  text-align: justify;
  padding-bottom: 1rem;
}

.recipientsRadio {
  justify-items: left;
}

.recipientsRadioButton {
  padding-right: 1rem;
}
