<div id="resource_div">
  <div id="intro_div">
    <label
      >Add the resources and assign their respective roles for the
      project</label
    >
  </div>
  <br />

  <form [formGroup]="resourceFormGroup">
    <div class="form-group-div">
      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Seniority</mat-label>
          <mat-select disableRipple formControlName="seniorityLevel">
            <mat-option
              *ngFor="let seniorityLevel of seniorityLevels"
              [value]="seniorityLevel"
              (click)="seniorityLevelChange(seniorityLevel)"
              class="small-font"
            >
              {{ seniorityLevel }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Resource</mat-label>
          <input
            type="text"
            required
            matInput
            formControlName="resource_name"
            [matAutocomplete]="auto1"
            id="resource"
            #resource
            class="small-font"
          />
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
            <mat-option
              *ngFor="let filteredResource of filteredResourceOption | async"
              [value]="filteredResource.resource_name"
              class="small-font"
            >
              <ng-container
                *ngIf="
                  resourceFormGroup.controls['seniorityLevel'].value === 'ALL'
                "
              >
                {{ filteredResource.seniority }} |
              </ng-container>
              {{ filteredResource.resource_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div
          *ngIf="
            resourceFormGroup.controls['resource_name'].invalid &&
            resourceFormGroup.controls['resource_name'].touched
          "
          class="error-div-container"
        >
          <ng-container
            *ngFor="let validation of validation_msgs.resource_name"
          >
            <div
              *ngIf="
                resourceFormGroup
                  .get('resource_name')
                  ?.hasError(validation.type)
              "
              class="error-div"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Role</mat-label>
          <input
            type="text"
            required
            matInput
            formControlName="role"
            [matAutocomplete]="auto2"
            id="role"
            #role
            class="small-font"
          />
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
            <mat-option
              *ngFor="let filteredRole of filteredRoleOption | async"
              [value]="filteredRole"
              class="small-font"
            >
              {{ filteredRole }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div
          *ngIf="
            resourceFormGroup.controls['role'].invalid &&
            resourceFormGroup.controls['role'].touched
          "
          class="error-div-container"
        >
          <ng-container *ngFor="let validation of validation_msgs.role">
            <div
              *ngIf="resourceFormGroup.get('role')?.hasError(validation.type)"
              class="error-div"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <button
        [disabled]="
          !resourceFormGroup.valid || resource.value === '' || role.value === ''
        "
        (click)="addResource(resource.value, role.value)"
        mat-raised-button
        class="add-btn"
        color="primary"
      >
        Add
      </button>
    </div>
  </form>

  <br />

  <ng-container *ngIf="allocatedResources.length !== 0">
    <app-resource-table
      [resourcesWithNames]="allocatedResources"
      [withDelete]="true"
      (removeResourceEmitter)="removeResource($event)"
    >
    </app-resource-table>
  </ng-container>

  <ng-container *ngIf="allocatedResources.length === 0">
    <div class="error-div">
      A TFR must have at least one resource associated. Please assign one to
      move to next step.
    </div>
  </ng-container>
</div>

<div class="floating-btn-div">
  <button
    mat-raised-button
    class="navigation-btn"
    color="primary"
    (click)="triggerStep(false)"
  >
    Back
  </button>
  <button
    mat-raised-button
    [disabled]="!resourceListUpdated || allocatedResources.length === 0"
    class="navigation-btn"
    color="primary"
    (click)="saveToDatabase()"
  >
    Save
  </button>
  <button
    mat-raised-button
    [disabled]="!resourceListUpdated"
    class="navigation-btn"
    (click)="resetResources()"
  >
    Reset
  </button>
  <button
    mat-raised-button
    class="navigation-btn"
    color="primary"
    [disabled]="
      allocatedResources.length === 0 ||
      this.tfrManagementService.getProjectResources?.length === 0
    "
    (click)="triggerStep(true)"
  >
    Next
  </button>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
