.form-group-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.error-div-container {
  margin-bottom: 10px;
}

.error-div {
  color: red;
}

.resource_selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min-content;
  margin-right: 10px;
}

#resource_div {
  padding: 10px;
  width: 100%;
}

.navigation-btn {
  margin: 5px;
}

#intro_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.demo-table {
  width: 100%;
}

.data-cell {
  text-align: center;
  word-break: break-all;
}

.data-row .data-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.data-row:hover .data-cell {
  color: blue;
}
