<div id="resource_div">
  <form [formGroup]="resourceFormGroup">
    <div class="resource-count-div">
      <label class="label-padding">Total number of resources:</label>
      <mat-form-field appearance="fill" class="form-field small-font">
        <input
          type="number"
          min="1"
          oninput="validity.valid||(value='');"
          matInput
          formControlName="resources_count"
        />
        <mat-error
          *ngIf="
            resourceFormGroup.controls['resources_count'].invalid &&
            resourceFormGroup.controls['resources_count'].touched
          "
        >
          Required
        </mat-error>
      </mat-form-field>
      <mat-icon
        *ngIf="
          resourceService.resourcesWithoutDeleted(allocatedResources).length <
            resourcesCount &&
          (resourcesCount !== null || resourcesCount)
        "
        [ngStyle]="{ color: '#8a8a8a' }"
        #infoTooltip="matTooltip"
        [matTooltip]="tooltipMsg"
        matTooltipPosition="below"
        (click)="infoTooltip.toggle()"
        >info</mat-icon
      >

      <mat-icon
        *ngIf="
          resourceService.resourcesWithoutDeleted(allocatedResources).length ===
          resourcesCount
        "
        [ngStyle]="{ color: 'green' }"
        >check_circle_outline</mat-icon
      >
      <mat-icon
        *ngIf="
          resourceService.resourcesWithoutDeleted(allocatedResources).length >
            resourcesCount && resourcesCount !== null
        "
        [ngStyle]="{ color: 'red' }"
        #warningToolTip="matTooltip"
        [matTooltip]="tooltipMsg"
        matTooltipPosition="below"
        (click)="warningToolTip.toggle()"
        >warning</mat-icon
      >
    </div>
    <br />

    <div id="intro_div">
      <label
        >Add the resources and assign their respective roles for the project
      </label>
    </div>
    <br />

    <div class="form-group-div">
      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Resource</mat-label>
          <input
            type="text"
            required
            matInput
            formControlName="resource_name"
            [matAutocomplete]="auto1"
            id="resource"
            #resource
            class="small-font"
          />
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
            <mat-option
              *ngFor="let filteredResource of filteredResourceOption | async"
              [value]="filteredResource.resource_name"
              class="small-font"
              (click)="getSkills(filteredResource)"
            >
              {{ filteredResource.resource_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div
          *ngIf="
            resourceFormGroup.controls['resource_name'].invalid &&
            resourceFormGroup.controls['resource_name'].touched
          "
          class="error-div-container"
        >
          <ng-container
            *ngFor="let validation of validation_msgs.resource_name"
          >
            <div
              *ngIf="
                resourceFormGroup
                  .get('resource_name')
                  ?.hasError(validation.type)
              "
              class="error-div"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Role</mat-label>
          <input
            type="text"
            required
            matInput
            formControlName="role"
            id="role"
            #role
            class="small-font"
          />
        </mat-form-field>
        <div
          *ngIf="
            resourceFormGroup.controls['role'].invalid &&
            resourceFormGroup.controls['role'].touched
          "
          class="error-div-container"
        >
          <ng-container *ngFor="let validation of validation_msgs.role">
            <div
              *ngIf="resourceFormGroup.get('role')?.hasError(validation.type)"
              class="error-div"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="resource_selection">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="small-font">Seniority</mat-label>
          <mat-select disableRipple formControlName="seniorityLevel" #seniority>
            <mat-option
              *ngFor="let seniorityLevel of seniorityLevels"
              [value]="seniorityLevel"
              class="small-font"
            >
              {{ seniorityLevel }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div
          *ngIf="
            resourceFormGroup.controls['seniorityLevel'].invalid &&
            resourceFormGroup.controls['seniorityLevel'].touched
          "
          class="error-div-container"
        >
          <ng-container
            *ngFor="let validation of validation_msgs.seniorityLevel"
          >
            <div
              *ngIf="
                resourceFormGroup
                  .get('seniorityLevel')
                  ?.hasError(validation.type)
              "
              class="error-div"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <button
        [disabled]="
          !resourceFormGroup.valid ||
          resource.value === '' ||
          role.value === '' ||
          seniority.value === '' ||
          resourceService.resourcesWithoutDeleted(allocatedResources).length >=
            resourcesCount
        "
        (click)="addResource(resource.value, role.value, seniority.value)"
        mat-raised-button
        class="add-btn"
        color="primary"
      >
        Add
      </button>
    </div>
  </form>

  <br />

  <div class="resource-skill-div" *ngIf="currentResourceSkills.length !== 0">
    <label>{{ currentResourceName }}'s skillset:</label>
    <div class="skill-div" *ngFor="let resourceSkill of currentResourceSkills">
      <li>{{ resourceSkill.skill }} - {{ resourceSkill.experience }} yrs</li>
      <mat-progress-bar
        mode="determinate"
        value="{{ resourceSkill.percentage }}"
        class="progress-bar"
      ></mat-progress-bar>
    </div>
  </div>

  <br />

  <ng-container
    *ngIf="
      resourceService.resourcesWithoutDeleted(allocatedResources).length !== 0
    "
  >
    <app-resource-table
      [resourcesWithNames]="
        resourceService.resourcesWithoutDeleted(allocatedResources)
      "
      [withEdit]="true"
      (removeResourceEmitter)="removeResource($event)"
      (editResourceEmitter)="editResource($event)"
    >
    </app-resource-table>
  </ng-container>

  <ng-container
    *ngIf="
      resourceService.resourcesWithoutDeleted(allocatedResources).length === 0
    "
  >
    <div class="error-div">
      A TFR must have at least one resource associated. Please assign one to
      move to next step.
    </div>
  </ng-container>
</div>

<div class="floating-btn-div">
  <button
    mat-raised-button
    class="navigation-btn"
    color="primary"
    (click)="triggerStep(false)"
  >
    Back
  </button>
  <button
    mat-raised-button
    [disabled]="
      !resourceDetailsUpdated ||
      resourceService.resourcesWithoutDeleted(allocatedResources).length ===
        0 ||
      resourceService.resourcesWithoutDeleted(allocatedResources).length >
        resourcesCount
    "
    class="navigation-btn"
    color="primary"
    (click)="saveToDatabase()"
  >
    Save
  </button>
  <button
    mat-raised-button
    [disabled]="!resourceDetailsUpdated"
    class="navigation-btn"
    (click)="resetResources()"
  >
    Reset
  </button>
  <button
    mat-raised-button
    class="navigation-btn"
    color="primary"
    [disabled]="
      resourceService.resourcesWithoutDeleted(allocatedResources).length ===
        0 ||
      (!editMode && resourceDetailsUpdated)
    "
    (click)="triggerStep(true)"
  >
    Next
  </button>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
