.form-group-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.form-field {
  height: 70px;
}
.add-btn {
  height: 50px;
}

.small-font {
  font-size: 12px;
}

.resource_selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min-content;
  margin-right: 10px;
}

.error-div-container {
  margin-bottom: 10px;
}

.error-div {
  color: red;
}

#resource_div {
  padding: 1rem;
  width: 100%;
}

.navigation-btn {
  margin: 5px;
}

#intro_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.floating-btn-div {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@media screen and (max-width: 800px) {
  button {
    width: 1%;
    height: 0.5%;
    font-size: small;
  }
}
