<table mat-table class="mat-elevation-z8 demo-table table-resource-laptop">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th *ngIf="withDelete"></th>
  </tr>
  <tr
    *ngFor="let resource of resourcesWithNames; let i = index"
    class="data-row"
  >
    <td class="data-cell">{{ i + 1 }}</td>
    <td class="data-cell">{{ resource.resource_name }}</td>
    <td class="data-cell">{{ resource.resource_email }}</td>
    <td class="data-cell">{{ resource.role }}</td>
    <td *ngIf="withDelete">
      <button
        mat-icon-button
        color="warn"
        (click)="removeResource(resource.resource_id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>

<table mat-table class="mat-elevation-z8 demo-table table-resource-mobile">
  <tr>
    <th></th>
    <th>Details</th>
    <th *ngIf="withDelete"></th>
  </tr>
  <tr *ngFor="let resource of resourcesWithNames; let i = index">
    <td class="data-cell-mobile">{{ i + 1 }}</td>
    <td class="data-cell-mobile">
      <div class="data-cell-div-container-mobile">
        <div class="data-cell-div-mobile">
          <strong>Name: </strong>{{ resource.resource_name }}
        </div>
        <div class="data-cell-div-mobile">
          <strong>Email: </strong>{{ resource.resource_email }}
        </div>
        <div class="data-cell-div-mobile">
          <strong>Role: </strong>{{ resource.role }}
        </div>
      </div>
    </td>
    <td *ngIf="withDelete">
      <button
        mat-icon-button
        color="warn"
        (click)="removeResource(resource.resource_id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
