

.top-btn-left {
  width: 250px;
  margin: 5px;
  height: 40px;
}

.example-button-row {
  display: block;
  // text-align: -webkit-center;
  // padding-left: 1%;
  text-align: right;
  padding-right: 9%;
}

section {
  display: table;
}

.closeiconbutton {
  background-color: #507fc6;
  border: none;
  font-size: 24px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  margin: 6px;
}

.geariconbtn {
  background-color: #507fc6;
  border: none;
  font-size: 24px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  margin: 6px;
}

.ngxgriditem {
  display: inline-table;
  position: initial;
}

.widget {
  border: 8px solid #fbfbfb;
  background-color: #1e0c0c;
  width: inherit;
  height: inherit;
  position: relative;
  margin: 8px;
  inline-size: auto;
}

.header {
  background: #507fc6;
  border: 1px solid #ffffff;
  height: 13%;
}

a.headerText {
  font-family: Roboto;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  vertical-align: -webkit-baseline-middle;
  margin: 14px;
}
