<div >
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <div class="example-button-row">

      <button  mat-raised-button color="primary" type="button" class="btn btn-success top-btn-left" 
      (click)="onClick_AddClientLocationWidget()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Client_Location Widget
      </button>

      <button  mat-raised-button color="primary" type="button" class="btn btn-success top-btn-left"
      (click)="onClick_AddOurClientsWidget()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Our_Clients Widget
      </button>

      <button mat-raised-button color="primary" type="button" class="btn btn-success top-btn-left"
      (click)="onClick_AddTFRStatusWidget()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> TFR_Status Widget
      </button>

      <button mat-raised-button color="primary" type="button" class="btn btn-success top-btn-left"
      (click)="onClick_AddUpcomingProjectsWidget()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Upcoming_Projects Widget
      </button>
    </div >

  <ngx-gridster
    style="height: 400px; width: 85%; padding-left: 8%;"
    [options]="gridsterOptions"
    [draggableOptions]="{ handlerClass: 'panel-heading' }"
    (optionsChange)="optionsChange($event)"
  >
    <ngx-gridster-item
      style="height: fit-content; left: 0px; top: 0px; bottom: 0px"
      class="ngxgriditem"
      *ngFor="let widget of widgets; index as i"
    >
      <div
        style="
          height: 400px;
          width: inherit;
          position: relative;
          margin: 8px;
          inline-size: auto;
        "
      >
        <mat-card class="widget">
          <h1 class="header">
            <a class="headerText"> {{ widget.componentName }}</a>
            <button
              class="closeiconbutton"
              (mousedown)="onClick_removeItem(widget)"
            >
              <i
                class="fa fa-close"
                style="font-size: 24px; position: relative; margin: 7px"
              ></i>
            </button>
            <button class="geariconbtn">
              <i
                class="fa fa-gear"
                style="font-size: 24px; position: relative; margin: 7px"
              ></i>
            </button>
          </h1>
          <div
            style="
              width: inherit;
              /* height: inherit; */
              position: relative;
              margin: 11%;
              size-adjust: inherit;
              inline-size: auto;
              height: -webkit-fill-available;
            "
          >
            <ndc-dynamic
              [ndcDynamicComponent]="widget.componentType"
            ></ndc-dynamic>
          </div>
        </mat-card>
      </div>
    </ngx-gridster-item>
  </ngx-gridster>
</div>
