@import "../../../variables";

@media all and (min-device-width: 6001px) and (-webkit-min-device-pixel-ratio: 1) {
  .example-button-row {
    display: block;
    text-align: right;
    padding-right: 9%;
    margin-bottom: -6px;
    margin-top: 6px;
  }

  .gridstergroup {
    height: 400px;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
  }

  a.headerText {
    font-size: 3vw;
    color: white;
    font-weight: 500;
    vertical-align: -webkit-baseline-middle;
    margin: 14px;
  }

  .widget-manager {
    color: white;
    background-color: $primary;
    border: 1px solid midnightblue;
    font-family: sans-serif;
  }

  .header {
    background: $primary;
    border: 1px solid #ffffff;
    display: flexbox;
    flex-wrap: wrap;
    height: 13%;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
  }

  .closeiconbutton {
    background-color: $primary;
    font-size: 60px;
    cursor: pointer;
    margin: 0px;
    max-width: 2vw;
    float: right;
    border: none;
    margin-right: 1vw;
  }

  .widget {
    border: 8px solid #fbfbfb;
    background-color: #0f0f0ffb;
    width: inherit;
    height: 1000px;
    position: relative;
    margin: 1%;
    inline-size: auto;
  }
}

@media all and (min-device-width: 3701px) and (max-width: 6000px) and (-webkit-min-device-pixel-ratio: 1) {
  .example-button-row {
    display: block;
    text-align: right;
    padding-right: 9%;
    margin-bottom: -6px;
    margin-top: 6px;
  }

  .gridstergroup {
    height: 400px;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
  }

  a.headerText {
    font-size: 3vw;
    color: white;
    font-weight: 500;
    vertical-align: -webkit-baseline-middle;
    margin: 14px;
  }

  .header {
    background: $primary;
    border: 1px solid #ffffff;
    display: flexbox;
    flex-wrap: wrap;
    height: 13%;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
  }

  .closeiconbutton {
    background-color: $primary;
    font-size: 50px;
    cursor: pointer;
    margin: 0px;
    max-width: 2vw;
    float: right;
    border: none;
    margin-right: 1vw;
  }

  .widget {
    border: 8px solid #fbfbfb;
    background-color: #0f0f0ffb;
    width: inherit;
    height: 800px;
    position: relative;
    margin: 8px;
    inline-size: auto;
  }
}
@media all and (min-device-width: 1800px) and (max-width: 3700px) and (-webkit-min-device-pixel-ratio: 1) {
  .example-button-row {
    display: block;
    text-align: right;
    padding-right: 9%;
    margin-bottom: -6px;
    margin-top: 6px;
  }

  .gridstergroup {
    height: 400px;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
  }

  a.headerText {
    font-size: 3vw;
    color: white;
    font-weight: 500;
    vertical-align: -webkit-baseline-middle;
    margin: 14px;
  }

  .header {
    background: $primary;
    border: 1px solid #ffffff;
    display: flexbox;
    flex-wrap: wrap;
    height: 13%;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
  }

  .closeiconbutton {
    background-color: $primary;
    font-size: 35px;
    cursor: pointer;
    margin: 0px;
    max-width: 2vw;
    float: right;
    border: none;
    margin-right: 1vw;
  }

  .geariconbtn {
    max-width: 2vw;
    background-color: $primary;
    font-size: 24px;
    cursor: pointer;
    margin-right: 1vw;
    float: right;
    border: none;
  }

  .widget {
    border: 8px solid #fbfbfb;
    background-color: #0f0f0ffb;
    width: inherit;
    height: 450px;
    position: relative;
    margin: 8px;
    inline-size: auto;
  }
}

@media all and (min-device-width: 800px) and (max-width: 1799px) and (-webkit-min-device-pixel-ratio: 1) {
  .example-button-row {
    display: block;
    text-align: right;
    padding-right: 9%;
    margin-bottom: -6px;
    margin-top: 6px;
  }

  .gridstergroup {
    height: 400px;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
  }

  a.headerText {
    font-size: 3vw;
    color: white;
    font-weight: 500;
    vertical-align: -webkit-baseline-middle;
    margin: 14px;
  }

  .header {
    background: $primary;
    border: 1px solid #ffffff;
    display: flexbox;
    flex-wrap: wrap;
    height: 13%;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
  }

  .closeiconbutton {
    background-color: $primary;
    font-size: 35px;
    cursor: pointer;
    margin: 0px;
    max-width: 2vw;
    float: right;
    border: none;
    margin-right: 1vw;
  }

  .geariconbtn {
    max-width: 2vw;
    background-color: $primary;
    font-size: 24px;
    cursor: pointer;
    margin-right: 1vw;
    float: right;
    border: none;
  }

  .widget {
    border: 8px solid #fbfbfb;
    background-color: #0f0f0ffb;
    width: inherit;
    height: inherit;
    position: relative;
    margin: 8px;
    inline-size: auto;
  }
}

@media all and (min-device-width: 0px) and (max-width: 799px) and (-webkit-min-device-pixel-ratio: 1) {
  .example-button-row {
    display: block;
    text-align: center;
    margin-bottom: -6px;
    margin-top: 6px;
  }

  .gridstergroup {
    height: 400px;
    width: 85%;
    margin-left: 8%;
    margin-right: 8%;
  }

  a.headerText {
    font-size: 5vw;
    color: white;
    font-weight: 500;
    vertical-align: -webkit-baseline-middle;
    margin: 14px;
  }

  .header {
    background: $primary;
    border: 1px solid #ffffff;
    display: flexbox;
    height: 13%;
    padding-right: 6vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
  }

  .closeiconbutton {
    background-color: $primary;
    font-size: 24px;
    cursor: pointer;
    margin: 0px;
    max-width: 2vw;
    float: right;
    border: none;
    margin-right: 3vw;
  }

  .geariconbtn {
    max-width: 2vw;
    background-color: $primary;
    font-size: 24px;
    cursor: pointer;
    margin-right: 3vw;
    float: right;
    border: none;
  }

  .widget {
    border: 8px solid #fbfbfb;
    background-color: #0f0f0ffb;
    width: inherit;
    height: inherit;
    position: relative;
    margin: 8px;
    inline-size: auto;
  }
}

.top-btn-left {
  width: 250px;
  margin: 5px;
  height: 40px;
}

section {
  display: table;
}

.ngxgriditem {
  display: inline-table;
  position: initial;
  height: fit-content;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.widgetcontent {
  width: inherit;
  /* height: inherit; */
  position: relative;
  margin: 8%;
  margin-bottom: 104px;
  size-adjust: inherit;
  inline-size: auto;
  height: -webkit-fill-available;
}

.ngxgriditemdiv {
  height: 400px;
  width: inherit;
  position: relative;
  margin: 8px;
  inline-size: auto;
}
