.chartouter {
  background-color: transparent;
  height: 100%;
  width: inherit;
  margin: -30px;
}

.chartinner {
  background-color: transparent;
  position: relative;
  margin: 1%;
  height: 100%;
  width: 100%;
  content-visibility: hidden;
}
