.chartouter {
  background-color: transparent;
  height: 100%;
  width: 99%;
  margin: -33px;
  padding-left: 11px;
}

.nodataclass {
  background-color: transparent;
  padding: 15px;
}

.head {
  align-self: center;
  color: whitesmoke;
  font-family: sans-serif;
}

.chartinner {
  background-color: transparent;
  position: relative;
  margin: 1%;
  height: 100%;
  width: 100%;
  content-visibility: hidden;
}

@media all and (min-device-width: 3501px) and (-webkit-min-device-pixel-ratio: 0.5) {
  .chartouter {
    background-color: transparent;
    height: 85%;
    width: 70%;
    margin: -75px;
    padding-left: 29px;
    margin-left: 84px;
  }
}
