.register-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

.page-container{
  height: 100%;
  width: 100%;
  display: grid;
}

.child-container{
  margin: auto;
  margin-top: 4%;
}

.button-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  margin: 40px;
  padding: 2px;
  font-weight: 400;
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  min-width: 120px;
}