@import "/src/variables";

#overlay {
  position: fixed;
  display: block;
  top: $toolbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 999;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
