<div>
  <div class="search-filters-container">
    <mat-form-field class="single-search-filter" appearance="fill">
      <mat-label>Client</mat-label>
      <mat-select [(ngModel)]="selectedClientName">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let client of clients" [value]="client.name">{{
          client.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="single-search-filter" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let status of statusList" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="single-search-filter" appearance="fill">
      <mat-label>Project Start After</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        [formControl]="startAfterDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="single-search-filter" appearance="fill">
      <mat-label>Project End Before</mat-label>
      <input matInput [matDatepicker]="picker2" [formControl]="endBeforeDate" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button
      class="search-button"
      mat-raised-button
      color="primary"
      [disabled]="projectList.data.length === 0"
      (click)="getProjects()"
    >
      Search
    </button>
  </div>
</div>
<h1 *ngIf="projectList.data.length === 0">No projects to show</h1>
<div class="tfrs-table-container mat-table" *ngIf="projectList.data.length > 0">
  <table
    mat-table
    [dataSource]="projectList"
    multiTemplateDataRows
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 mat-table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let tfr">{{ tfr.name }}</td>
    </ng-container>
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start date</th>
      <td mat-cell *matCellDef="let tfr">
        {{ dateFormatterService.getShortDisplayDate(tfr.start_date) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End date</th>
      <td mat-cell *matCellDef="let tfr">
        {{ dateFormatterService.getShortDisplayDate(tfr.end_date) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let tfr"
        [ngClass]="{
          delivered: tfr.status == 'DELIVERED',
          inprogress: tfr.status == 'IN PROGRESS',
          agreed: tfr.status == 'AGREED',
          archived: tfr.status == 'ARCHIVED',
          draft: tfr.status == 'DRAFT'
        }"
      >
        {{ tfr.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let tfr">
        <button mat-button [matMenuTriggerFor]="actionsMenu">
          Choose an action
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="viewTFRDetails(tfr.id)">
            View details
          </button>
          <button mat-menu-item [mat-menu-trigger-for]="reportsMenu">
            Reports
          </button>
        </mat-menu>
        <mat-menu #reportsMenu="matMenu">
          <button mat-menu-item (click)="download(tfr)">Download now</button>
          <button mat-menu-item (click)="scheduleReports(tfr.id)">
            Schedule report
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <!-- <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="" >
            <div class="element-diagram" *ngFor="let ms of element.milestones">
              <div class="milestone-title">Milestone</div>
              <div class="element-description">Description: {{ms.description}} </div>
              <div class="element-description">Start Date: {{displayDate(ms.start_date)}}</div>
              <div class="element-description">Delivery Date: {{displayDate(ms.delivery_date)}}</div>
              <div class="element-description">Acceptance Date: {{displayDate(ms.acceptance_date)}}</div>
              <div class="element-description">Status: {{ms.status}}</div>
              <a class="element-description" href="">View</a>
            </div>
          </div>
        </div>
      </td>
    </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand;"
      class="element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="pageSize"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
