.tfrs-table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 600px;
} 

.mat-table {
  overflow: auto;
  max-height: 500px;
  min-width: 600px;
}


.delivered{
  color: rgb(7, 247, 107);
}

.inprogress{
  color: rgb(233, 28, 9);
}

.archived{
  color: rgb(7, 247, 107);;
}

.draft{
  color: black;
}

.search-fields-row{
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-button{
  margin: 0.7%
}