@import "../../../variables";

@media all and (min-device-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
  .title {
    font-size: 2.5vw;
    background-color: $primary;
    color: whitesmoke;
    margin: auto;
    text-align: center;
  }
}

@media all and (max-width: 799px) and (-webkit-min-device-pixel-ratio: 1) {
  .title {
    font-size: 4vw;
    background-color: $primary;
    color: whitesmoke;
    margin: auto;
    text-align: center;
  }
}

.foot {
  justify-content: right;
}

.top-btn-left {
  font-size: 120%;
  white-space: pre-wrap;
  text-align-last: left;
}
