.title {
  font-size: 220%;
  font-family: ui-rounded;
  background-color: rgb(32, 32, 148);
  color: whitesmoke;
  margin: auto;

}

.foot {
  justify-content: right;
}

.isPresentstyle {
  background-color: rgb(183, 183, 183);
  color: black;
}
.notPresentstyle {
  background-color: rgb(72, 72, 237);
  color: white;
}
