@import "../../../variables";

@media all and (min-device-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
  .title {
    font-size: 2.5vw;
    background-color: $primary;
    color: whitesmoke;
    margin: auto;
    text-align: center;
  }

  .isPresentstyle {
    background-color: rgb(154, 154, 154);
    color: rgb(89, 85, 85);
    font-size: 1vw;
  }
  .notPresentstyle {
    background-color: #507fc6;
    color: white;
    font-size: 1vw;
  }
}

@media all and (max-width: 799px) and (-webkit-min-device-pixel-ratio: 1) {
  .title {
    font-size: 6vw;
    font-family: ui-rounded;
    background-color: $primary;
    color: whitesmoke;
    margin: auto;
    text-align: center;
  }

  .isPresentstyle {
    background-color: rgb(154, 154, 154);
    color: rgb(89, 85, 85);
    font-size: 3.5vw;
  }
  .notPresentstyle {
    background-color: #507fc6;
    color: white;
    font-size: 3.5vw;
  }
}

.foot {
  justify-content: right;
}
