<h1 class="title" mat-dialog-title>
  <strong> Add Widgets </strong>
</h1>

<!-- <div style="margin: 0px">
  <mat-button-toggle-group
    #toggleBtn="matButtonToggleGroup"
    multiple
    style="display: block"
  >
    <mat-card *ngFor="let wid of widgets" style="padding: 5px 20px 5px 20px">
      <mat-button-toggle
        value="{{ wid.componentName }}"
        type="button"
        class="btn btn-success top-btn-left"
        style="font-size: 120%; white-space: pre-wrap"
      >
        <i
          class="fa fa-plus-circle"
          aria-hidden="true"
          *ngIf="!wid.present"
          style="color : green ;    margin-right: 10px;   "
        ></i>
        <i
          class="fa fa-minus-circle"
          aria-hidden="true"
          *ngIf="wid.present"
          style="color : red ;    margin-right: 10px;   "
        ></i>

        <b> {{ wid.componentName }} Widget </b></mat-button-toggle
      >
    </mat-card>
  </mat-button-toggle-group>
</div> -->

<div style="margin: 0px">
  <mat-button-toggle-group
    #toggleBtn="matButtonToggleGroup"
    multiple
    style="display: block"
  >
    <mat-card *ngFor="let wid of widgets" style="padding: 5px 20px 5px 20px">
      <mat-button-toggle
        value="{{ wid.componentName }}"
        type="button"
        class="btn btn-success top-btn-left"
        style="font-size: 120%; white-space: pre-wrap; align-self: center"
      >
        <input type="checkbox" *ngIf="wid.present" checked="checked" />
        <input type="checkbox" *ngIf="!wid.present" />
        <span class="checkmark"></span>
        <b> {{ wid.componentName }} Widget </b>
      </mat-button-toggle>
    </mat-card>
  </mat-button-toggle-group>
</div>

<div class="foot" mat-dialog-actions>
  <button
    mat-raised-button
    type="button"
    (click)="onClick(toggleBtn.value)"
    style="background-color: rgb(32, 32, 148); color: whitesmoke"
  >
    Okay
  </button>
</div>
