.nodata {
  background-color: transparent;
  padding: 15px;
}
.head {
  align-self: center;
  color: whitesmoke;
  font-family: sans-serif;
}

@media all and (min-device-width: 0px) and (max-width: 1250px) and (-webkit-min-device-pixel-ratio: 0.5) {
  .chartstyle {
    padding: 12px;
    padding-left: 20px;
    justify-content: center;
    height: fit-content;
    justify-content: flex-start;
  }
}

@media all and (min-device-width: 1251px) and (max-width: 1801px) and (-webkit-min-device-pixel-ratio: 0.5) {
  .chartstyle {
    padding: 12px;
    padding-left: 20px;
    justify-content: center;
    height: fit-content;
    justify-content: flex-start;
    margin: -4%;
    margin-top: -6%;
  }
}

@media all and (min-device-width: 1800px) and (max-width: 3700px) and (-webkit-min-device-pixel-ratio: 0.5) {
  .chartstyle {
    padding: 12px;
    padding-left: 20px;
    justify-content: center;
    height: fit-content;
    justify-content: flex-start;
    margin: -4%;
    margin-top: -8%;
  }
}

@media all and (min-device-width: 3701px) and (-webkit-min-device-pixel-ratio: 0.5) {
  .chartstyle {
    padding: 12px;
    padding-left: 20px;
    justify-content: center;
    height: fit-content;
    justify-content: flex-start;
  }
}
