#datediv {
  margin: 20px;
}
.name {
  width: 200px;
}
.description {
  width: 400px;
  justify-content: center;
}
.inputdiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#chips {
  margin: 20px;
}

.chiplist {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.floating-btn-div {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.small-text {
  font-size: smaller;
}

.form-field,
.form-field-date {
  width: 45%;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.milestones {
  margin: 1rem;
}

.intro {
  margin-left: 10px;
}

.navigation-btn {
  margin: 5px;
}

@media screen and (max-width: 800px) {
  button {
    width: 1%;
    height: 0.5%;
    font-size: small;
  }

  .form-field {
    width: 100%;
    margin: 0px;
  }
  .form-field-date {
    width: 70%;
    margin: 0px;
  }

  .inputdiv {
    flex-wrap: wrap;
  }
}
