.rangepicker {
  width: 300px;
}
.datepicker {
  width: 200px;
}
#datediv {
  margin: 20px;
}
.description {
  width: 100%;
  justify-content: center;
}
.inputdiv {
  margin: 20px;
  display: flex;
}
#buttons {
  margin: 20px;
}
#chips {
  margin: 20px;
}
