<div>
  <br />
  <br />
  <br />
  <form [formGroup]="tfrDetails">
    <p>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="tfrDetails.get('name')?.invalid">Invalid name</mat-error>
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input class="small-text" matStartDate formControlName="startDate" placeholder="Start date">
          <input class="small-text" matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint class="small-text">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
  
        <mat-error *ngIf="tfrDetails.get('endDate')?.invalid">Invalid start date</mat-error>
        <mat-error *ngIf="tfrDetails.get('startDate')?.invalid">Invalid end date</mat-error>
      </mat-form-field>
    </p>
    <br />
    <app-vendors [vendors]="vendorList" (onSelected)="onVendorSelect($event)" 
    (onAttributesUpdated)="onAttributesUpdated($event)"></app-vendors>
    <br />
    <p>
      <button mat-raised-button [disabled]="tfrDetails.invalid || vendorAttributes.invalid" color="primary"
        (click)="updateTFR()">Save</button>
    </p>
    <p>
      <button mat-raised-button [disabled]="tfrDetails.invalid || vendorAttributes.invalid" color="primary"
        (click)="next()">Next</button>
    </p>
  
  </form>
</div>
