.small-text {
  font-size: smaller;
}

.form-field {
  width: 35%;
}

.basic-details-div {
  margin: 1rem;
}

.intro-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.navigation-btn {
  margin: 5px;
}

.floating-btn-div {
  position: fixed;
  top: 25%;
  right: 5%;
}

@media screen and (max-width: 800px) {
  .floating-btn-div {
    top: 15%;
    right: 5%;
  }

  button {
    width: 2%;
    height: 2%;
    font-size: smaller;
  }
}
