<div *ngIf="!tfrManagementService.apiError && !tfrManagementService.serverDown">
  <div class="top-btn-div">
    <button
      mat-raised-button
      class="edit-btn"
      color="primary"
      (click)="redirectToEditTfr()"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button
      mat-raised-button
      class="edit-btn"
      color="primary"
      (click)="openNotes()"
    >
      <mat-icon>book</mat-icon>
      Add Notes
    </button>
  </div>
  <div class="title">
    <h2>{{ tfrManagementService.getProjectName }}</h2>
  </div>

  <app-project-summary
    [currentProject]="tfrManagementService.getProject"
    [resourcesWithNames]="tfrManagementService.getProjectResourcesWithNames"
    [clientName]="tfrManagementService.getClientName"
  ></app-project-summary>
</div>
<div *ngIf="tfrManagementService.apiError">
  <app-page-not-found></app-page-not-found>
</div>
<div *ngIf="tfrManagementService.serverDown" class="server-down-div">
  Service unavailable. Try again
</div>