.title {
  display: flex;
  justify-content: center;
}

.top-btn-div {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  gap: 8px;
  top: 0;
  right: 0;
  padding: 10px;
}

.server-down-div {
  color: rgb(218, 212, 212);
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
  margin-top: 25vh;
  font-size: 5vw;

  @media all and (min-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 3vw;
  }
}
