.title {
  display: flex;
  justify-content: center;
}

.top-btn-div {
  display: flex;
  justify-content: end;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  right: 0;
  padding: 10px;
}
