<div class="top-btn-div">
  <button
    mat-raised-button
    class="edit-btn"
    color="primary"
    (click)="redirectToEditTfr()"
  >
    <mat-icon>edit</mat-icon>
    Edit
  </button>
</div>
<div class="title">
  <h2>{{ tfrManagementService.getProjectName }}</h2>
</div>

<app-project-summary
  [currentProject]="tfrManagementService.getProject"
  [resourcesWithNames]="tfrManagementService.getProjectResourcesWithNames"
  [vendorName]="tfrManagementService.getVendorName"
></app-project-summary>
