<div *ngIf="tfrManagementService.errorCode === 200">
  <div class="top-btn-div">
    <button
      *ngIf="tfrManagementService.canEdit"
      mat-raised-button
      class="edit-btn"
      color="primary"
      (click)="redirectToEditTfr()"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button
      mat-raised-button
      class="edit-btn"
      color="primary"
      (click)="openNotes()"
    >
      <mat-icon>book</mat-icon>
      <ng-container *ngIf="tfrManagementService.canEdit"
        >Add Notes</ng-container
      >
      <ng-container *ngIf="!tfrManagementService.canEdit"
        >View Notes</ng-container
      >
    </button>
  </div>
  <div class="title">
    <h2>{{ tfrManagementService.getProjectName }}</h2>
  </div>

  <app-project-summary
    [currentProject]="tfrManagementService.getProject"
    [resourcesWithNames]="tfrManagementService.getProjectResourcesWithNames"
    [clientName]="tfrManagementService.getClientName"
  ></app-project-summary>
</div>
<div *ngIf="!(tfrManagementService.errorCode === 200)" class="server-down-div">
  <app-error [code]="tfrManagementService.errorCode"></app-error>
</div>
