.demo-table {
  width: 100%;
}

.data-cell,
.data-cell-mobile {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  word-break: break-all;
  font-size: 12px;
}

.data-cell-div-container-mobile {
  text-align: center;
}

.data-cell-div-mobile {
  text-align: justify;
}

@media only screen and (min-width: 480px) {
  .table-resource-mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .table-resource-laptop {
    display: none;
  }
}
