<mat-toolbar style="background-color: #5203fb">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="acc-tfr" routerLink="/">
    <span class="heading">TFR Management</span>
  </a>
  <span class="example-spacer"></span>
  <div *ngFor="let route of appRoutes" fxShow="true" fxHide.lt-md="true">
    <a
      mat-button
      style="color: white"
      *ngIf="route.navigationLabel && routeGuardManager.checkRouting(route.component)"
      routerLink="{{ route.path }}"
      routerLinkActive="active-route"
      >{{ route.navigationLabel }}</a
    >
  </div>
</mat-toolbar>
