<mat-toolbar style="background-color: #5203FB;">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="acc-tfr" routerLink="/">
    <span style ="color:white;">TFR Management</span>
  </a>
  <span class="example-spacer" ></span>
  <div *ngFor="let route of RoutesList" fxShow="true" fxHide.lt-md="true">
    <a style ="color:white;" mat-button *ngIf="route.label" routerLink="{{ route.path }}">{{
      route.label
    }}</a>
  </div>
</mat-toolbar>
