/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// used to style the dynamic size of popup window e.g. Widget Manager
.popup-window {
  @media all
  and (min-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 35vw;
  }
  @media all
  and (max-width: 799px)
  and (-webkit-min-device-pixel-ratio: 1) {
    width: 80vw;
  }
}
